<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoodle</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Patrick+Hand&display=swap" rel="stylesheet">
    <script src="../scripts/nav.js" defer></script>
</head>
<header>
    <button class="mobile-nav-toggle menu-mode"></button>
    <h1 class="logo">ToDoodle</h1>
    <nav>
        <ul class="primary-nav" data-visible="false">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/list">Today</a>
            </li>
            <li>
                <a href="/mylists">My Lists</a>
            </li>
        </ul>
    </nav>
</header>
<body>
